@font-face {
    font-family: 'MadimiOne-Regular';
    src: url('./Madimi_One/MadimiOne-Regular.ttf');
}
@font-face {
    font-family: 'truculenta';
    src: url('Truculenta/truculenta.ttf');
}
main {
    font-family: 'truculenta';
    padding-top: 50px;
}
img {
    height: 150px;
    width: 150px;
}
.header {
    font-family: 'MadimiOne-Regular';
    display:flex;
    position: fixed;
    height: 5%;
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    overflow:hidden;
    background-color: white;
    flex-flow: row;
}
.h1{
    justify-content: left;
    margin-right: auto;
    text-align: center;
}
.imgborder{
    width: 2%;
    height: 100%;
    padding-right: 20px;
}
.headimage {
    width: auto;
    height: 100%;
    object-fit:fill;
}
.h3header {
    text-align: center;
    padding: 10px;
    justify-content: right;
    text-align: center;
}
.headerspan {
    padding: 10px;
    margin-left: auto;
}
.mainart1{
    height: 100vh;
  width: 98vw;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainart1::before{
    content: "";
    position: absolute;
    background-image: url(habitat.jpg);
    background-size: cover;
    z-index: -5;
    opacity: 0.7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.art1fig{
    position: relative;
    width: 50%;
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img2h2 {
    font-family: 'MadimiOne-Regular';
    z-index: -1;
}
.img2{
    z-index: -1;
}
.mainart2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    border-style: dashed;
    width: 100vw;
    height: 100vh;
}
.sec1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    height: 90%;
    border-style: dotted;
    overflow: hidden;
}
.subsec1, .subsec2 {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
    border-style: double;
    justify-content: left;
}

.figsub{
    width: 100%;
    height: 33%;
    justify-content: left;
}